@import url(droparea.css);
select, textarea, input {
      appearance: none;
      width: 100%;
      border-radius: .5rem;
      border: 1px solid var(--stroke-default);

      padding: .75rem 1rem;

      font: var(--text);
}

label {
      font: var(--text-sm);
      color: var(--text-secondary);

      display: block;
      margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
      outline: .25rem solid var(--surface-secondary);
      border: .125rem solid var(--stroke-hightlight);
      outline-offset: .1px;
}



input[type="date"] {
      position: relative;

      &::-webkit-calendar-picker-indicator {
            position: absolute;
            background: url(../../assets/icons/calendar-03.svg) center/contain ;
            right: 1rem;
      }
}


select {
      background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}