#app {
      display: grid;
      grid-template-columns: 51.25% 48.75%;

      height: 100vh;
      overflow: hidden;
}

main {
      overflow: auto;
      padding: 4rem;

      .main-container {
            max-width: 33rem;
            margin-left: auto;
      }
}

aside {
      background: var(--surface-secondary);
      padding: 4rem;
}